<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="resources/css/reset.css" type="text/css"
          media="screen"/>
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="resources/css/style.css" type="text/css"
          media="screen"/>
    <link rel="stylesheet" href="resources/css/invalid.css" type="text/css"
          media="screen"/>

    <!--                       Javascripts                       -->
    <!-- jQuery -->
    <script type="text/javascript"
            src="resources/scripts/jquery-1.8.3.min.js"></script>
    <!-- jQuery Configuration
    <script type="text/javascript"
            src="resources/scripts/simpla.jquery.configuration.js"></script>-->

    <!-- 添加弹出框的jquery插件 -->
    <script type="text/javascript" src="resources/widget/dialog/jquery-ui-1.9.2.custom.min.js"></script>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <!-- 添加树形结构插件 ztree -->
    <script type="text/javascript" src="resources/widget/zTree/jquery.ztree.all.min.js"></script>
    <link rel="stylesheet" href="resources/widget/zTree/zTreeStyle/zTreeStyle.css">
    <!-- 添加一个图片上传插件 -->
    <script type="text/javascript" src="resources/widget/webuploader/webuploader.min.js"></script>
    <link rel="stylesheet" href="resources/widget/webuploader/webuploader.css">
    <!--添加一个富文本框插件-->
    <link rel="stylesheet" href="resources/widget/kindeditor/themes/default/default.css"/>
    <link rel="stylesheet" href="resources/widget/kindeditor/themes/simple/simple.css"/>
    <script charset="utf-8" src="resources/widget/kindeditor/kindeditor.js"></script>
    <script charset="utf-8" src="resources/widget/kindeditor/lang/zh_CN.js"></script>

</head>
<body>
<div id="main-content">
    <div class="content-box">
        <!-- End .content-box-header -->
        <div class="content-box-content">
            <div class="tab-content default-tab" id="tab1">
                <table>
                    <thead>
                    <tr>
                        <th><input class="check-all" type="checkbox"/></th>
                        <th>编号</th>
                        <th>商品名称</th>
                        <th>商品价格</th>
                        <th>商品图片</th>
                        <th>商品库存</th>
                        <th>商品类型</th>
                        <th>商品描述</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="g : ${goods}">
                        <td><input type="checkbox"/></td>
                        <td th:text="${g.id}">Lorem ipsum dolor</td>
                        <td th:text="${g.gname}"><a href="#" title="title">Sit amet</a></td>
                        <td th:text="${g.gprice}">Consectetur adipiscing</td>
                        <td><img th:each="img:${#strings.listSplit(g.gimage,'|')}"

                                 th:src="|http://47.111.118.231:8080/${img}|"
                                 style="width: 50px ;height: 50px; margin: 10px"></td>

                        <!--th:src="|goods/getImg?imgpath=${img}|"-->
                        <td th:text="${g.gsave}">Consectetur adipiscing</td>
                        <td th:text="${g.tname}">Consectetur adipiscing</td>
                        <td th:text="${g.ginfo}">Consectetur adipiscing</td>
                        <td>
                            <!-- Icons --> <a th:href="|/user/toModify?id=${g.id}|" title="Edit"><img
                                src="resources/images/icons/pencil.png" alt="Edit"/></a>
                            <a th:href="|/user/delete?id=${g.id}|" title="Delete"><img src="resources/images/icons/cross.png"
                                                                                       alt="Delete"/></a>
                            <a th:onclick="|set_user_role(${g.id})|" title="Edit Meta"><img
                                    src="resources/images/icons/hammer_screwdriver.png" alt="Edit Meta"/></a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="bulk-actions align-left">
                                <a class="mybutton" onclick="open_dialog()">添加商品</a>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- End .content-box-content -->
    </div>
</div>
<!-- End #main-content -->
<script>
    KindEditor.ready(function(K) {
        window.editor = K.create("#descripe",{
            allowFileManager : true,
            allowImageUpload : true,
            allowPreviewEmoticons : true,
            // items : [
            //     'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'cut', 'copy', 'paste',
            //     'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
            //     'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
            //     'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
            //     'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
            //     'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|',
            //     'table', 'hr','image'],
            afterBlur : function() {
                this.sync();
            }
        });
    });

    var zTreeObject;

    function show_goodstype() {
        var setting = {
            data: {
                key: {
                    name: "tname"
                },
                simpleData: {
                    enable: true,
                    pIdKey: "pid"
                },
                view: {
                    showIcon: false
                }
            },
            check: {
                enable: true,
                chkboxType: {"Y": "ps", "N": "s"}
            }
        };
        $.get("/type/listType", function (data) {
            zTreeObject = $.fn.zTree.init($("#ztree_Div"), setting, data);
            zTreeObject.expandAll(true);
        }, "json");
        $("#ztree_dialog").dialog({
            title: "添加类型",
            width: 300,
            height: 200,
            modal: true
        });
    }

    function update() {
        //获取到ztree所选的值为json集合
        var typeid = new Array();
        var checkedNodes = zTreeObject.getCheckedNodes(true);
        for (var i = 0; i < checkedNodes.length; i++) {
            $("#tid").val(checkedNodes[i].id);
        }
        $("#ztree_dialog").dialog("close");
    }

    function open_dialog() {
        $("#dialog_div").dialog({
            title: "添加商品",
            width: 800,
            height: 600,
            model: true
        });
    }

    $(function () {
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // swf文件路径
            swf: 'resources/widget/webuploader/Uploader.swf',
            // 文件接收服务端。
            server: '/goods/uploadImg',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',
            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        uploader.on('fileQueued', function (file) {
            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    alert("图片无法加载!");
                    return;
                }
                var img = "<img src='" + src + "' style='width: 100px; height: 100px; margin: 10px'/>";
                $("#showPic").append(img);
            }, 100, 100);
        });
        //设置文件上传成功的事件
        uploader.on('uploadSuccess', function (file, response) {
            var images = $("#gimage").val()
            if (images != "") {
                images += "|";
            }
            images += response.filepath;
            $("#gimage").val(images);
        });

    });
</script>

<!-- 代表一个弹出框 - 默认隐藏 -->
<div id="dialog_div" style="display: none;">
    <form action="/goods/insert" method="post" enctype="multipart/form-data">
        商品名称:<input type="text" name="gname"/><br/>
        商品价格:<input type="text" name="gprice"/><br/>
        商品图片:
        <div id="uploader-demo">
            <div id="filePicker">选择图片</div>
            <div id="showPic" style=" width: 300px;height: 100px;border: #57a000"></div>
            <input type="hidden" name="gimage" id="gimage"/>
        </div>
        <br/>
        商品类型:
        <button id="bid" type="button" onclick="show_goodstype()">商品类型</button>
        <input type="hidden" id="tid" name="tid">
        <br/>
        商品库存:<input type="text" name="gsave"><br/>
        商品描述:<textarea id="descripe" name="ginfo" style="width:700px;height:300px;">


                </textarea>
        <button type="submit">添加</button>
    </form>
</div>
<!--编辑职工角色的弹出框-->
<div id="ztree_dialog" style="display: none">
    <div id="ztree_Div" class="ztree"></div>
    <button type="button" onclick="update()">确定</button>
</div>
</body>
</html>