<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.TypeMapper">


    <select id="queryAllTypes" resultType="com.qf.entity.Type">
        select t1.*,t2.tname as pname from type t1 left join type t2 on t1.pid = t2.id order by t1.id

    </select>
</mapper>